build
target
test-output
.idea/workspace.xml
src/main/webapp/.DS_Store

src/main/webapp/README.md

src/main/webapp/LICENSE

*.prefs

*.md

src/main/webapp/css/App.css

src/main/webapp/node_modules/*

src/main/webapp/src/bower_components/*