build
target
test-output
src/main/webapp/node_modules/*

src/main/webapp/README.md

src/main/webapp/LICENSE

*.prefs

*.md

src/main/webapp/css/App.css

src/main/webapp/node_modules/*

src/main/webapp/bower_components/*
