
<div class="page page-dashboard ng-scope">

	<h1>Persons</h1>

    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    	<strong>
                    		<span class="glyphicon glyphicon-th"></span>
                    		<span data-i18n="Accounts">Persons</span>
                    	</strong>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="person in persons | orderBy:username">
                            <tr>
                                <td>{{person.username}}</td>
                                <td>{{person.email}}</td>
                                <td>{{person.userType}}</td>
                                <td>
                                    <button type="button" go-click="/go/to/this" class="btn btn-default">
                                        <span  class="glyphicon glyphicon-pencil"></span>
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button ng-click="deletePerson(account.id)" class="btn btn-danger">
                                        <span  class="glyphicon glyphicon-remove-circle"></span>
                                        Delete
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </section>
</div>