<div class="container" ng-controller="calendarCtrl">

    <div ng-controller="AccountCtrl">
        <select ng-model="selectedAccount" ng-change="changeAccount()" ng-options="account.name for account in accounts">
        </select>
    </div>

    <select ng-model="selectedCalendar" ng-change="changeCalendar()"
    ng-options="calendar.description for calendar in calendars">
</select>

<div ng-controller="addEventCtrl">

    <div class="page-header">
        <h1>Add Session</h1>
    </div>



<div class="example">

    <form role="form" class="form-horizontal">

        <div class="form-group form-group-lg">
            <div class="col-sm-12">
                <input type="text" class="form-control" id="inputEmail3" placeholder="Untitled Session">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> Datetime picker</label><br>
            <div class="form-group">
                <input type="text" size="10" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Date" bs-datepicker>
            </div>
            <div class="form-group">
                <input type="text" size="8" class="form-control" ng-model="sharedDate" data-autoclose="1" placeholder="Time" bs-timepicker>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="text" ng-click="openStartDate($event)" class="form-control" datepicker-popup="{{format}}" ng-model="startDate" is-open="openedStartDate" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <div class="input-group-addon" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-show="allDay == 'Off'">
            <label class="col-sm-2 control-label">Start Time</label>
            <div class="time">
                <timepicker ng-model="startTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>


                    <div class="time-label" ng-show="allDay == 'Off'">
                <label>to</label>
            </div>
        </div>

        <div class="form-group" ng-show="allDay == 'Off'">
            <label class="col-sm-2 control-label">End Time</label>
            <div class="time">
                <timepicker ng-model="endTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">All day</label>

            <div class="input-group col-sm-10">
                <buttons-radio class="btn-group" data-toggle="buttons-radio" model='allDay' class="form-control" options='myOptions'></buttons-radio>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2 control-label">
                <label>Repeat</label>
            </div>
            <div class="col-sm-10">
                <buttons-radio class="btn-group" data-toggle="buttons-radio" model='allDay' options='myOptions'></buttons-radio>
            </div>
        </div>

        <div class="form-group">
            <div  class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-default">Back</button>
                <button type="button" class="btn btn-danger">Save</button>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
      </div>

</div>

</div>
