<!doctype html>
<html lang="en" ng-app="application">
<head>
  <meta charset="utf-8">
  <title>Angular Seedling</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="application/application.css"/>
  <link rel="stylesheet" href="login/login.css"/>
</head>
<body>




    <div ng-controller="application">


    <nav>
        <ng-include src="'menu/menu-partial.html'"/>
    </nav>

    <div class="alert" ng-class="alertType" ng-cloak>
        {{alertMessage}}
    </div>



    <div class="progress" ng-class="active" ng-cloak>
        <div class="bar" style="width: 100%;"></div>
    </div>


        <h1>boing {{ currentUser }}</h1>
        <div ng-if="currentUser">Welcome, {{ currentUser }}</div>

        <h2> {{ userRoles.admin ===  currentUser  }} </h2>
        <div ng-if="isAuthorized(userRoles.admin)">Boing You're admin.</div>
        <div ng-switch on="currentUser">
            <div ng-switch-when="userRoles.admin">You're admin.</div>
            <div ng-switch-when="userRoles.editor">You're editor.</div>
            <div ng-switch-default>You're something else.</div>
        </div>

        <div ui-view>testing index</div>

    </div>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    -->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>

    <script src="application/application.js"></script>
    <script src="application/configuration-constants.js"></script>
    <script src="common/auth/auth-service.js"></script>
    <script src="menu/menu-service.js"></script>
    <script src="application/application-controller.js"></script>
    <script src="login/login-controller.js"></script>
    <script src="details/details-controller.js"></script>
    <script src="error/error-controller.js"></script>
    <script src="menu/menu-controller.js"></script>
    <script src="menu/menu-item-directive.js"></script>
    <script src="date-time/to-date-string-filter.js"></script>


    <script>
        var init = function() {
            console.log('bookings init called');
            window.initialise();
        };
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>

</body>
</html>
