<div>
    <div class="container">
        <h1 ng-show="eventAttribute.length">Event Attribute</h1>
        <table class="table table-striped" ng-show="eventAttributes.length">
            <thead>
                <th>Title</th>
            </thead>
            <tbody>
                <tr ng-repeat="eventAttribute in eventAttributes">
                    <td ng-click="activeEventAttribute(eventAttribute)">{{eventAttribute.id}}</td>
                    <td ng-click="activeEventAttribute(eventAttribute)">{{eventAttribute.name}}</td>
                    <td><button class="btn btn-danger" ng-click="delete(eventAttribute)">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <h3 ng-if="!editing">New Event Attribute</h3>
        <h3 ng-if="editing">Edit Event Attribute</h3>
        <form ng-submit="save(eventAttribute)">
            <input ng-model="eventAttribute.name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <button ng-if="editing" class="btn btn-success" ng-click="newEventAttribute()">New Event Attribute</button>
    </div>
</div>