<div class="modal-header">
    <h3 class="modal-title">Repeat Event</h3>
</div>
<div class="modal-body">

   <div class="form-horizontal" role="form">

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Repeat:</label>
      <div class="col-sm-9">
        <select ng-model="formData.eventRepeatType" class="form-control" ng-change="setRepeatType(formData.eventRepeatType)"
        ng-options="type.id as type.name for type in eventRepeatTypes"></select>
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Repeat every:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <input type="number" placeholder="1" class="form-control" ng-model="formData.repeatInterval">
          <span class="input-group-addon" ng-bind="repeatType"></span>
        </div>
      </div>
    </div>

    <div class="form-group" ng-show="repeatType === 'Weeks'">
      <label for="inputEmail3" class="col-sm-3 control-label">Repeat on:</label>
      <div class="col-sm-9">
        <label ng-repeat="day in daysOfWeek" class="checkbox-inline">
          <input type="checkbox" ng-click="setSummary()" checklist-model="formData.repeatDaysOfWeek"
            checklist-value="day.id"> {{day.value | limitTo:1}}
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword3" class="col-sm-3 control-label">Starts on:</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" value="{{startDate | date:'dd/MM/yyyy'}}">
      </div>
    </div>

  </div>

  <div class="well repeat-ends-form-section">

    <div class="form-horizontal" role="form">
      <div class="form-group">
        <label for="" class="col-sm-3 col-xs-12 control-label">Ends:</label>
        <div class="col-sm-9 col-xs-12">
          <label class="radio-inline">
            <input ng-model="repeatEndType" ng-click="setRepeatEndType('never')" checked value="never" type="radio"> Never
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-offset-3  form-group form-inline">
      <div class="form-group">
        <label class="radio-inline">
          <input  ng-model="repeatEndType" ng-click="setRepeatEndType('after')" value="after" type="radio"> After
        </label>
        <div class="input-group">
          <input type="number" class="form-control" ng-model="formData.eventRepeatCount" placeholder="number">
          <span class="input-group-addon">occurrences</span>
        </div>
      </div>
    </div>

    <div class="col-sm-offset-3  form-group form-inline">
      <div class="form-group">
        <label class="radio-inline">
          <input  ng-model="repeatEndType" ng-change="setRepeatEndType('on')" value="on" type="radio"> On
        </label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Date"
            datepicker-popup="{{format}}" ng-model="formData.finalRepeatDate" is-open="openedDatePicker"
            min-date="minDate" datepicker-options="dateOptions"
            date-disabled="disabled(date, mode)"
            ng-required="true" ng-change="setEndDate()" close-text="Close" ng-click="openDatePicker($event)" />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-horizontal" role="form">

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label">Summary:</label>
      <div class="col-sm-9">
        <strong ng-bind="summary"></strong>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default btn-primary" ng-click="save()">Save</button>
        <button type="submit" class="btn btn-default btn-default" ng-click="cancel()">Cancel</button>
      </div>
    </div>
</div>

