<div id="content-header">
    <h1>Add Event</h1>
</div> <!-- #content-header -->


<div id="content-container">

    <div class="portlet-content">
        <form role="form" id="addEvent" name="eventForm" ng-submit="addEvent()" novalidate>

            <div class="row">
                <div class="col-sm-3">
                    <h4>Start Date </h4>
                    <div class="input-group date ui-datepicker">
                        <input  type="text" class="form-control" name="startTime" id="startTime" datepicker-popup="dd-MM-yyyy"
                                ng-model="startTime"  datepicker-options="dateOptions" />
                        <span class="input-group-addon" ng-click="datePickerOpen('startTime')">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>

                <div class="col-sm-3">
                    <h4>Start Time </h4>
                    <div class="col-sm-2 input-group bootstrap-timepicker">
                        <div ng-model="startTime">
                            <timepicker hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <h4>Duration </h4>
                    <div class="col-sm-2 input-group bootstrap-timepicker">
                        <div ng-model="duration">
                            <timepicker hour-step="hstep" minute-step="mstep" show-meridian="false"></timepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h4>Teacher</h4>
                    <input type="text" data-ng-model="organizer" class="form-control" id="organizer" />
                </div>

                <div class="col-sm-3">
                    <h4>Lesson</h4>
                    <input type="text" data-ng-model="summary" class="form-control" id="summary" />
                </div>

                <div class="col-sm-3" ng-class="{ 'has-error' : emailForm.maxAttendees.$invalid }">
                    <h4>Max Attendees</h4>
                    <input type="text" name="maxAttendees" data-ng-model="maxAttendees" class="form-control" id="maxAttendees" required />
                    <p class="error" ng-show="emailForm.input.$error.number">Not valid number!</p>
                </div>
            </div>

            </div> <!-- /.row -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select-input">Event Categories</label>
                        <select ng-model="eventCategory" id="select-input" class="form-control">
                            <option ng-repeat="eventCategory in eventCategories">{{eventCategory.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select-input">Event Attributes</label>
                        <select ng-model="eventAttribute" id="select-input" class="form-control">
                            <option ng-repeat="eventAttribute in eventAttributes">{{eventAttribute.name}}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label for="repeatEvent">Repeat Event </label>

                    <div class="checkbox">
                        <label>
                            <input value="false" type="checkbox" name="repeatEvent" ng-model="repeatEvent" class="" checked>
                            Repeat Event
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="select-input">Repeat Event Type</label>
                        <select id="select-input" ng-model="eventRepeatType" class="form-control">
                        <option ng-repeat="ert in eventRepeatTypes">{{ert}}</option>
                        </select>
                    </div>
                </div>

                 <div class="col-sm-4">
                    <label for="finalDate">Final Repeat Date </label>
                        <div class="input-group date ui-datepicker">
                            <input  type="text" class="form-control" name="finalRepeatEvent" id="finalRepeatEvent"
                                datepicker-popup="dd-MM-yyyy" ng-model="finalRepeatEvent"  datepicker-options="dateOptions"/>
                            <span class="input-group-addon" ng-click="datePickerOpen('finalRepeatEvent')">
                                <i class="fa fa-calendar"></i>
                            </span>

                        </div>
                 </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div> <!-- /.row -->

        </form>
    </div>
</div>
