<div class="row">
    <div class="col-md-6">
        <h4 class="heading">Studio Schedule</h4>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary" ng-href="#/addevent">
            <span class="glyphicon glyphicon-plus"></span>
            Add Session
        </a>
    </div>
    <div class="col-md-4">
        <span ng-click="timetableNavigation(-1)" class="btn btn-success btn-large">
            <span class="glyphicon glyphicon-chevron-left"></span> Previous Week
        </span>


        <span ng-click="timetableNavigation(1)" class="btn btn-success btn-large">
            Next Week <span class="glyphicon glyphicon-chevron-right"></span>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Start time</th>
                    <th>Session</th>
                    <th>Instructor</th>
                    <th>Number of spaces</th>
                    <th>Duration</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody ng-repeat="day in calendarDates | orderBy:day">

                <tr>
                    <td colspan="8">
                        <h4 class="heading">{{day.fullDate | date: 'EEEE, d MMMM,y'}}</h4>
                    </td>
                </tr>
                 <tr ng-repeat="event in events | filter : {startCode : day.shortDate}">
                    <td>{{event.start | date: 'h:mma'}}</td>
                    <td>{{event.event.title}}</td>
                    <td>{{event.event.instructor.username}}</td>
                    <td>{{event.event.maxAttendees}}</td>
                    <td>{{event.event.durationMinutes}}</td>
                    <td>{{event.event.eventAttribute.name}}</td>
                    <td>{{event.event.eventCategory.name}}</td>
                    <td>
                        <a class="btn btn-primary" ng-href="#/addevent/{{event.id}}">
                            Edit Session
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
