<!DOCTYPE html>
<html ng-app="app" ng-controller="AppCtrl">
  <head>
    <base href='' />
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="less/main.css" />

    <!-- compiled JavaScript -->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="bower_components/angular-validation/dist/angular-validation.js"></script>
    <script type="text/javascript" src="bower_components/angular-validation/dist/angular-validation-rule.js"></script>
    <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/components/alerts/alert-directive.js"></script>
    <script type="text/javascript" src="app/components/alerts/alert-service.js"></script>
    <script type="text/javascript" src="app/components/authentication/auth-service.js"></script>
    <script type="text/javascript" src="app/components/authentication/session-service.js"></script>
    <script type="text/javascript" src="app/components/menu/menu-controller.js"></script>
    <script type="text/javascript" src="app/components/menu/menu-item-directive.js"></script>
    <script type="text/javascript" src="app/components/menu/menu-service.js"></script>
    <script type="text/javascript" src="app/components/progressbar/progressbar-directive.js"></script>
    <script type="text/javascript" src="app/components/progressbar/progressbar-service.js"></script>
    <script type="text/javascript" src="app/constants.js"></script>
    <script type="text/javascript" src="app/controller.js"></script>
    <script type="text/javascript" src="app/login/login-controller.js"></script>
    <script type="text/javascript" src="app/schedule/calendar/calendar-resource.js"></script>
    <script type="text/javascript" src="app/schedule/calendar/calendar.js"></script>
    <script type="text/javascript" src="app/schedule/event-attribute/event-attribute-model.js"></script>
    <script type="text/javascript" src="app/schedule/event-attribute/event-attribute.js"></script>
    <script type="text/javascript" src="app/schedule/event-category/event-category-model.js"></script>
    <script type="text/javascript" src="app/schedule/event-category/event-category.js"></script>
    <script type="text/javascript" src="app/schedule/event-list/schedule.js"></script>
    <script type="text/javascript" src="app/schedule/event/create-event.js"></script>
    <script type="text/javascript" src="app/schedule/event/event-model.js"></script>
    <script type="text/javascript" src="app/schedule/event/event-service.js"></script>
    <script type="text/javascript" src="app/schedule/event/repeat-event-modal/repeat-event-modal.js"></script>
    <script type="text/javascript" src="app/user-account/account-model.js"></script>
    <script type="text/javascript" src="app/user-account/account.js"></script>
    <script type="text/javascript" src="app/user-account/person/person-model.js"></script>
    <script type="text/javascript" src="app/user-account/person/person.js"></script>
  </head>
  <body>
    <div ng-controller="AppCtrl">
      <div class="view-container" id="content">

        <!-- <div class="progress progress-striped progress-backend-ready" ng-if="backendReady">
            <div class="progress-bar progress-bar-info" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
            </div>
        </div> -->
<!--         <div progress-bar progressinfo="progressbarService.loadingProgress"></div>
 -->        <div alert-modal alertinfo="alerts.alertMessage"></div>

        <a ng-if="signedin" class="btn" ng-click="authenticate()">Sign out</a>
        <a ng-if="!signedin" class="btn" ng-click="authenticate()">Sign in</a>

<!--         <section ui-view  ng-if="!backendReady" class="animate-fade-up"></section>
 -->
        <section class="container" ui-view></section>
        <div class="container">
          <div ui-view="accounts"></div>
          <div ui-view="calendars"></div>
          <div ui-view="content"></div>
        </div>
      </div>

    </div>
  </body>
</html>
