<form role="form" class="form" name="addEventForm" novalidate>
<div class="well bs-component" style="float:left">
	<div class="form-group form-group-lg col-sm-12">
		<input type="text" class="form-control input-lg" ng-model="event.title" placeholder="Untitled Session"
		validator="required" name="sessionTitle" required-error-message="Please enter a session title">
	</div>

	<div class="form-group form-inline col-sm-12" role="form">
		<div class="form-group event-date-picker">
			<div class="input-group datepicker">
				<input type="text"
					class="form-control"
					name="startDateTime"
					placeholder="Date"
					datepicker-popup="{{format}}"
					ng-model="startDateTime"
					is-open="openedDatePicker"
					datepicker-options="dateOptions"
					ng-change="setEndDate()"
					close-text="Close"
					show-button-bar="false"
					required
					ng-click="openDatePicker($event)" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="openDatePicker($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>


			</div>
		</div>

		<div class="form-group">
			<div class="input-group timepicker">
				<timepicker ng-model="startDateTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
				</timepicker>
			</div>
		</div>

		<div class="form-group">
			<label>to{{allDay}}</label>
			<div class="input-group timepicker">
				<timepicker ng-model="endDateTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian">
				</timepicker>
			</div>
		</div>
	</div>

	<div class="form-group form-inline col-sm-10 col-sm-offset-2" role="form">
		<div class="form-group">
			<label class="checkbox-inline">
				<input ng-model="allDay" ng-value="true" type="checkbox"> All Day
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-model="repeatEvent" ng-checked=""> Repeat
				<span class="btn-link" ng-click="openRepeatEventModal()">edit</span>
			</label>
		</div>

	</div>

	<div class="form-horizontal col-sm-12" role="form">
		<div class="form-group">
			<label for="maxAttendees" class="col-sm-2 control-label">Max attendees</label>
			<div class="col-sm-3">
				<input type="number" ng-model="event.maxAttendees" class="form-control" id="maxAttendees" name="maxAttendees"
				placeholder="Number of attendees" validator="number" number-error-message="Please enter a number">
			</div>
		</div>

		<div class="form-group">
			<label for="schedule" class="col-sm-2 control-label">Schedule</label>
			<div class="col-sm-6">
				<select id="schedule" name="schedule" ng-model="event.calendar_id" class="form-control" ng-options="calendar.id as calendar.description for calendar in calendars" validator="required" required-error-message="Please choose a schedule">
 					<option value="">-- Choose Schedule --</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-info add-option-btn">
					Add Schedule
				</button>
			</div>
		</div>

		<div class="form-group">
			<label for="instructor" class="col-sm-2 control-label">Instructor</label>
			<div class="col-sm-6">
				<select name="instructor" id="instructor" ng-model="event.instructor_id" class="form-control" validator="required" required-error-message="Please choose an instructor" ng-options="instructor.id as instructor.username for instructor in instructors">
					<option value="">-- Choose Instructor --</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-info add-option-btn">
					Add Instructor
				</button>
			</div>
		</div>

		<div class="form-group">
			<label for="sessionType" class="col-sm-2 control-label">Session Type</label>
			<div class="col-sm-6">
				<select name="sessionType" id="sessionType" ng-model="event.eventAttribute" class="form-control" validator="required" required-error-message="Please choose a session type" ng-options="attribute.id as attribute.name for attribute in eventAttributes">
					<option value="">-- Choose Session Type --</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-info add-option-btn">
					Add Session Type
				</button>
			</div>
		</div>

		<div class="form-group">
			<label for="priceGroup" class="col-sm-2 control-label">Price Group</label>
			<div class="col-sm-6">
				<select name="priceGroup" id="priceGroup" ng-model="event.eventCategory" class="form-control" validator="required" required-error-message="Please choose a price group"
					ng-options="category.id as category.name for category in eventCategorys">
					<option value="">-- Price Group --</option>
				</select>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-info add-option-btn">
					Add Price Group
				</button>
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default" ng-click="reload()">Back</button>
					<button type="submit" class="btn btn-danger" ng-click="form.submit()" validation-submit="addEventForm">Save</button>
					<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-trash"></span>
					</button>
			</div>
		</div>

	</div>
</div>
</form>


