
<h1 ng-show="event.length">Event </h1>
<h2 ng-bind="event.id"></h2>
<table class="table table-striped" ng-show="events.length">
    <thead>
        <th>Title</th>
    </thead>
    <tbody>
        <tr ng-repeat="event in events">
            <td ng-click="activeEvent(event)">{{event}}</td>
            <td ng-click="activeEvent(event)">{{event.name}}</td>
            <td><button class="btn btn-danger" ng-click="delete(event)">Delete</button></td>
        </tr>
    </tbody>
</table>

<h3 ng-if="!editing">New Event</h3>
<h3 ng-if="editing">Edit Event</h3>
<form ng-submit="save(event)">
    <input ng-model="event.name">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<button ng-if="editing" class="btn btn-success" ng-click="newEvent()">New Event</button>
