<!doctype html>
<html lang="en" ng-app="application">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Web Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!--         <link rel="stylesheet" href="application/css/application.css"/>
        <link rel="stylesheet" href="application/css/main.css"/>
        <link rel="stylesheet" href="application/css/ui.css"/> -->

        <link rel="stylesheet" href="login/login.css"/>
        <link rel="stylesheet" href="event/add-event/add-event.css"/>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <style type="text/css">
            .progress-backend-ready {
                width:50%;
                margin: 50px auto;
            }
        </style>
    </head>
    <body>

        <div ng-controller="application">

            <!-- <div ng-hide="" data-ng-cloak="">
                <section ng-include=" 'header/header-partial.html' " id="header" class="top-header"></section>
                <aside id="nav-container">
                    <ng-include src="'menu/menu-partial.html'"/>
                </aside>
            </div> -->

            <div class="view-container" id="content">

                <div class="progress progress-striped progress-backend-ready" ng-if="backendReady">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div progress-bar progressinfo="progressbarService.loadingProgress"></div>
                <div alert-modal alertinfo="alerts.alertMessage"></div>

                <a ng-if="signedin" class="btn" ng-click="authenticate()">Sign out</a>
                <a ng-if="!signedin" class="btn" ng-click="authenticate()">Sign in</a>

                <section ui-view  ng-if="!backendReady" class="animate-fade-up"></section>


            </div>

        </div>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    -->


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="lib/localization/localize.js"></script>

    <script src="application/application.js"></script>

    <script src="application/configuration-constants.js"></script>
    <script src="common/goclick-directive.js"></script>
    <script src="authentication/session-service.js"></script>
    <script src="authentication/auth-service.js"></script>

    <script src="accounts/accounts-service.js"></script>
    <script src="accounts/account-controller.js"></script>
    <script src="accounts/account-resource.js"></script>

    <script src="calendar/calendar-resource.js"></script>
    <script src="calendar/calendar-controller.js"></script>

    <script src="event-attribute/event-attribute-resource.js"></script>
    <script src="event-attribute/event-attribute-controller.js"></script>

    <script src="event-category/event-category-resource.js"></script>
    <script src="event-category/event-category-controller.js"></script>

    <script src="event/event-resource.js"></script>
    <script src="event/event-controller.js"></script>
    <script src="event/schedule/schedule-controller.js"></script>
    <script src="event/add-event/add-event-controller.js"></script>

    <script src="persons/person-resource.js"></script>
    <script src="persons/person-controller.js"></script>

    <script src="persons/person_details/persons-details-controller.js"></script>

    <script src="alerts/alert-directive.js"></script>
    <script src="alerts/alert-service.js"></script>

    <script src="progressbar/progressbar-directive.js"></script>
    <script src="progressbar/progressbar-service.js"></script>

    <script src="menu/menu-service.js"></script>
    <script src="application/application-controller.js"></script>
    <script src="login/login-controller.js"></script>
    <script src="menu/menu-controller.js"></script>
    <script src="menu/menu-item-directive.js"></script>
  <!--   <script>
        var init = function() {
            window.initialise();
        };
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
 -->

    </body>
</html>
