<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
	<!--  
	<filter>
	    <filter-name>SecurityFilter</filter-name>
	    <filter-class>com.studio.bookings.servlet.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>SecurityFilter</filter-name>
	    <url-pattern>*.jsp</url-pattern>
	    <url-pattern>*.html</url-pattern>
	    <url-pattern>/app/partials/*</url-pattern>
	    <url-pattern>/</url-pattern>
	    <url-pattern>/testharness</url-pattern>
	    <url-pattern>/app/*</url-pattern>
	    <url-pattern>/app/index.html</url-pattern>
	</filter-mapping>
	-->
  
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>com.studio.bookings.service.AccountService,com.studio.bookings.service.BaseService,com.studio.bookings.service.CalendarService,com.studio.bookings.service.EventService,com.studio.bookings.service.EventTestingService,com.studio.bookings.service.UserService,com.studio.bookings.util.LoadDummyData</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <description/>
    <display-name>EventServiceTestingServlet</display-name>
    <servlet-name>EventServiceTestingServlet</servlet-name>
    <servlet-class>com.studio.bookings.EventServiceTestingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.studio.bookings.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.studio.bookings.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>index.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>EventServiceTestingServlet</servlet-name>
    <url-pattern>/eventservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
</web-app>